<?xml version="1.0"?>
<launch>
    <!-- Tests the PID controller, NOT the ros_control controller -->

    <!-- Launch motor driver -->
    <include file="$(find robocock)/launch/hardware/base_hardware.launch"/>
    <!-- Debug GUI -->
    <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" output="screen" respawn="false" args="--perspective-file $(find robocock)/config/controller_stress_test.perspective"/>
    <!-- controller_stress_test.py, don't restart if stopped -->
    <node pkg="robocock" type="controller_stress_test.py" name="controller_stress_test" output="screen" respawn="false"/>
</launch>